/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #ccc;
  font-size: 14px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #3a78b6;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

fieldset {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 8px 0px;
}

/*
 * Header
 *
 * Styles for the main header on the structure page.
 */

/*
 * Main Layout
 *
 * Styles for the main layout framework
 */

#main-wrapper {
  position: relative;
  overflow: hidden;
}

#main-wrapper #main {
  overflow: scroll;
  position: relative;
  padding: 15px;
  margin: 50px auto 0px;
  width: 994px;
  height: 738px;
  background: transparent url('../image/linen.jpg') 0px 0px no-repeat;
  border: 25px solid #000;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
}
