/*
 * Structure QA
 *
 * Styles for the structure pages
 */

#main-wrapper #questions {
  width: 100%;
  height: 675px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#main-wrapper h1 {
  margin-bottom: 15px;
}

#main-wrapper h2 {
  font-size: 18px;
  line-height: 24px;
}

#main-wrapper #questions section {
  width: 933px;
  background: rgba(255, 255, 255, 0.25);
  padding: 15px;
  margin-bottom: 15px;
}

#main-wrapper #questions section a {
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  background: #3a78b6;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#main-wrapper #score {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 20px;
  height: 46px;
  background: #3a78b6;
}

#main-wrapper #score h3 {
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#main-wrapper footer {
  width: 963px;
  margin-top: 25px;
}

#main-wrapper footer #previous-page {
  float: left;
  text-indent: -9999px;
  background: transparent url('../image/button_previous.png');
  width: 63px;
  height: 24px;
}

#main-wrapper footer #next-page {
  float: right;
  text-indent: -9999px;
  background: transparent url('../image/button_next.png');
  width: 63px;
  height: 24px;
}

/*
 * Questions Footer with Sections
 */

#main-wrapper #structure-buttons-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

ul#structure-buttons {
  width: 100%;
  background: #3e454a;
}

ul#structure-buttons li {
  float: left;
  height: 46px;
  padding: 0px 6px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
  line-height: 46px;
}

ul#structure-buttons li a {
  text-decoration: none;
  display: block;
  width: 128px;
  color: #d5dbe1;
  text-shadow: 1px 2px 0px #272727;
}

ul#structure-buttons li.current {
  background: #3a78b6;
}

/*
 * Summary Screen
 */

#summary {
  width: 963px;
  padding-top: 0px;
  z-index: 100;
}

#summary #personal-information {
  text-decoration: underline;
}

#summary .scores {
  display: block;
  margin-bottom: 55px;
}

#summary p, #summary ul {
  margin-bottom: 25px;
  padding: 0px 45px;
  line-height: 1.45;
}

#summary ul li ul {
  padding: 0px;
}

#summary ul li ul li {
  margin-bottom: 10px;
}

#summary ul li h3 {
  padding: 0px;
}

#summary h2 {
  padding: 0px 45px;
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 5px;
}

#summary h3 {
  padding: 0px 45px;
  text-decoration: underline;
  margin-bottom: 25px;
}

#summary table {
  margin: 0px auto 25px;
  width: 90%;
}

#summary table, #summary table th, #summary table tr, #summary table td {
  padding: 5px;
  border: 1px solid #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);

  -webkit-box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  -moz-box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  box-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#summary table th:first-child, #summary table td:first-child {
  width: 50%;
  text-align: left;
}

#summary table#questions-table th, #summary table#questions-table td {
  text-align: left;
}

#summary table th {
  font-weight: bold;
  font-size: 1.1em;
}

#summary .scores .score {
  width: 45%;
}

#summary .scores #threshold-score {
  float: left;
}

#summary .scores #building-score {
  float: right;
}

#summary #rescu-score {
  width: 45%;
  margin: 0px auto 25px;
}

#summary .scores #threshold-score span, #summary .scores #building-score span, #summary #rescu-score span {
  display: block;
  background: #3a78b6;
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  padding: 30px 0px;
  margin: 0px 45px;

  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#summary .scores #threshold-score span {
  background: #f3733a;
}

#summary #rescu-score span {
  background: rgb(140, 180, 118);
}

#summary h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
