/*
 * Structure QA
 *
 * Styles for the structure pages
 */

#main-wrapper #questions {
  width: 100%;
  height: 675px;
  overflow: scroll;
}

#main-wrapper h1 {
  margin-bottom: 15px;
}

#main-wrapper h2 {
  font-size: 18px;
  line-height: 24px;
}

#main-wrapper #questions section {
  background: rgba(255, 255, 255, 0.25);
  padding: 15px;
  margin-bottom: 15px;
}

#main-wrapper #questions section a {
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  background: #3a78b6;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#main-wrapper #score {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 20px;
  height: 46px;
  background: #3a78b6;
}

#main-wrapper #score h3 {
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#main-wrapper footer {
  margin-top: 25px;
}

#main-wrapper footer #previous-page {
  float: left;
  text-indent: -9999px;
  background: transparent url('../image/button_previous.png');
  width: 63px;
  height: 24px;
}

#main-wrapper footer #next-page {
  float: right;
  text-indent: -9999px;
  background: transparent url('../image/button_next.png');
  width: 63px;
  height: 24px;
}

/*
 * Questions Footer with Sections
 */

#main-wrapper #structure-buttons-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

ul#structure-buttons {
  width: 100%;
  background: #3e454a;
}

ul#structure-buttons li {
  float: left;
  height: 46px;
  padding: 0px 6px;
  margin: 0px;
  text-align: center;
  cursor: pointer;
  line-height: 46px;
}

ul#structure-buttons li a {
  text-decoration: none;
  display: block;
  width: 128px;
  color: #d5dbe1;
  text-shadow: 1px 2px 0px #272727;
}

ul#structure-buttons li.current {
  background: #3a78b6;
}

/*
 * Summary Screen
 */

#summary {
  padding: 15px;
  width: 947px;
  background: #3a78b6;
  border: 1px solid #21251b;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

#summary h2 {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 25px;
}

#summary h2 span {
  font-weight: bold;
}

#summary h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
