<header>
  <h1>Roof</h1>
</header>

<section>
  <h2>What is the roof class of your home?</h2>

  <fieldset>
    <input id="class-a" name="class" value="1" type="radio" /><label for="class-a">Class A</label></a><br />
    <input id="class-b" name="class" value="5" type="radio" /><label for="class-b">Class B</label></a><br />
    <input id="class-c" name="class" value="10" type="radio" /><label for="class-c">Class C</label></a><br />
  </fieldset>

  <a href="http://flash.org" target="_blank">FLASH</a>
</section>

<section>
  <h2>Do the valleys meet ICC 504.2.1?</h2>

  <fieldset>
    <input id="valleys-icc" value="10" type="checkbox" /><label for="valleys-icc">Yes.</label>
  </fieldset>
</section>

<footer class="group">
  <a id="previous-page" href="#" data-file="windows.html">Windows</a>
  <a id="next-page" href="#" data-file="chimney.html">Chimney</a>
</footer>