<header>
  <h1>Summary</h1>
</header>

<div id="summary">

  <div class="scores group">
    <div id="threshold-score" class="score">
      <h1>ReScU Threat Level</h1>
      <span></span>
    </div>
    <div id="building-score" class="score">
      <h1>Building Score</h1>
      <span></span>
    </div>
  </div>
   <ul>
  <li>What does this mean?</li>
    <ul>
    <li>ReScU Threat Level – The likelihood and severity of the threat based on your surroundings</li>
    <p></p>
    <li>Building Score – The vulnerability of the features of your home to protect against the threat</li>
    <p></p>
    <p>The ReScU Score is an indication of the relative strength of your against the threat.  It is essentially the Building Score minus the Threat Level.  A home with a positive score indicates the strength of the home is sufficient to withstand the threat level.  A negative score indicates that there are measures the homeowner can take to improve their home against the threat.  These measures are outlined in the next section of this report.  Shown with each hardening option is an approximate cost of implementation, a return on investment if the disaster were to occur and the increase in building score that would be achieved by implementing the option.</p>
    <p></p>
  </u

  <h2>Some suggestions for you:</h2>
  <ul>
    <li>To reduce your ReScU Threat Level:</li>
    <li>Move all ignitable materials as far away as possible or to the nearest 100 feet.</li>
    <li>Trim or prune dead material from trees, shrubs and other landscaping.</li>
    <li>Replace landscaping ground cover made of combustible materials with non combustible materails. (For example: Replace pine straw ground covering with rock). </li>
    <li>Move gas tanks, wood piles and any other fuels away from the home.</li>
    <p></p>
    <li>To improve your Building Score: </li>
    <li>Enclose foundation members with at least a 1 hour fire resistive barrier if exposed. </li>
    <li>Enclose vents with vents with openings not exceeding 1/4 inch.</li>
    <li>Replace any attachchments including decks, fences, and patios with non combustible materials. or with 1 hour resistive rating. </li>
    <li>Replace siding with non combustible materials or materials rated for fire resistance.</li>
    <li>Replace windows with tempered panes and metal screens.</li>
    <li>Cover eaves in aluminum or fire rated material.</li>
    <li>Replace roof with non combustible materails or fire rated materials.</li>
    <li>If a chimney exists, cover opening with an approved spark arrester.</li>
    <li>Remove any debris from roof valleys, gutters and any other areas where debris collects.</li>
   </ul>


   <li>In order for you to accurately determine the “total cost” of hardening your home against embers from a wildfire.  The following information is provided for calculating a “Return on Investment” , assuming the disaster occurs, for each hardening option: </li>
  <ul>
    <p></p>
    <li>Explanation: House Element that you are hardening, Percent of time the house is a total loss if the house element ignites, Return on Investment calculation.</li>
    <li>Roof Covering,
80% total loss,
ROI = (0.8)*(cost of option)/(replacement cost of home)</li>
    <li>Vents,
80% total loss,
ROI = (0.8)*(cost of option)/(replacement cost of home)</li>
    <li>Windows,
90% total loss,
ROI = (0.9)*(cost of option)/(replacement cost of home)</li>
    <li>Wall Covering,
70% total loss,
ROI = (0.7)*(cost of option)/(replacement cost of home)</li>
    <li>Open Foundation,
90% total loss,
ROI = (0.9)*(cost of option)/(replacement cost of home)</li>
    <li>Open Foundation,
90% total loss,
ROI = (0.9)*(cost of option)/(replacement cost of home)</li>
    
  </ul>

</div>

<script>
  $("#threshold-score span").html(RESCU.scores.threshold.toFixed(1));
  $("#building-score span").html(RESCU.scores.total.toFixed(1));
</script>
