<header>
  <h1>Summary</h1>
</header>
<div id="summary">
  <h2>Your ReScU Score is: <span></span></h2>

  <h3>The ReScU Score is an indication of the relative strength of your home against the threat.  A home with a positive score indicates the strength of the home is sufficient to withstand the threat level; however even homes with positive scores may be improved. A negative score indicates that there are measures the homeowner may take to improve their homes survivability against the threat.  These measures are outlined in the next section of this report.</h3>
</div>

<script>
  $("#summary h2 span").html(RESCU.scores.total);
</script>