<header>
  <h1>Summary</h1>
</header>

<div id="summary">

  <div class="personal">
    <p id="personal-information"></p>
  </div>

  <p>The Resilient Scroing Utility (ReScU) is intended to help you determine where hardening techniques may increase your home's chance for survival during a natural disaster. The scores indicated for your threat level and home's hardness within this report do not relate to any other systems or metrics available.</p>

  <div class="scores group">
    <div id="threshold-score" class="score">
      <h1>ReScU Threat Level</h1>
      <span></span>
    </div>
    <div id="building-score" class="score">
      <h1>Building Score</h1>
      <span></span>
    </div>
  </div>

  <div id="rescu-score" class="score">
    <h1>RESCU SCORE</h1>
    <span></span>
  </div>

  <ul>
    <li>
      <h3>What does this mean?</h3>
      <ul>
        <li>ReScU Threat Level – The likelihood and severity of the threat based on your surroundings</li>
        <li>Building Score – The vulnerability of the features of your home to protect against the threat</li>
        <li>The ReScU Score is an indication of the relative strength of your against the threat.  It is essentially the Building Score minus the Threat Level.  A home with a positive score indicates the strength of the home is sufficient to withstand the threat level.  A negative score indicates that there are measures the homeowner can take to improve their home against the threat.  These measures are outlined in the next section of this report.  Shown with each hardening option is an approximate cost of implementation, a return on investment if the disaster were to occur and the increase in building score that would be achieved by implementing the option.</li>
      </ul>
    </li>
  </ul>

  <h3>Home Information and Overview</h3>

  <p><span class="name"></span>, you have provided the following basic information regarding the construction of your home.</p>

  <script>
    (function(){
      var info = RESCU.user();
      $("#personal-information").html(info.fullName + "<br />" + info.address);
      $("span.name").html(info.fullName);
    }());
  </script>

  <table id="questions-table">
    <tr>
      <th>Question</th>
      <th>Answer</th>
      </tr>
  </table>

  <table>
    <tr>
      <th>Requested Input</th>
      <th>Value Provided</th>
    </tr>
    <tr>
      <td>Square Footage of the first floor</td>
      <td id="footage"></td>
    </tr>
    <tr>
      <td>Perimeter of the foundation (ft)</td>
      <td id="perimeter"></td>
    </tr>
    <tr>
      <td>Number of stories of livable space</td>
      <td id="stories"></td>
    </tr>
    <tr>
      <td>Number of Doors</td>
      <td id="doors"></td>
    </tr>
    <tr>
      <td>Number of Windows</td>
      <td id="windows"></td>
    </tr>
    <tr>
      <td>Roof Pitch</td>
      <td id="pitch"></td>
    </tr>
    <tr>
      <td>Appraised value of the home excluding land</td>
      <td id="replacementValue"></td>
    </tr>
  </table>

  <script>
    // Add Requested Input Values inside of
    // this function
    (function(){
      var info = RESCU.user();
      $("#footage").html(RESCU.addCommas(info.footage));
      $("#perimeter").html(RESCU.addCommas(info.perimeter));
      $("#stories").html(info.levels);
      $("#doors").html(info.doors);
      $("#windows").html(info.windows);
      $("#pitch").html(info.pitch);
      $("#replacementValue").html("$" + RESCU.addCommas(info.replacementValue));
    }());
  </script>
<ul>
    <li>* Please note these values are used to calculate the estimated costs of the hardening options.</li>
      
      </ul>

<ul>
    <li>
      <h3>Hardening Options</h3>
      <ul>
        <li>The following hardening options are available to increase your homes protection from embers.  Additional information will need to be put here introducing the variables in this table and how they are used by the homeowner.</li>
      </ul>
    </li>
   </ul>

<table id="suggestions-table" border="1">
    <tr>
      <th>Answer</th>
      <th>Suggestions</th>
      <th>Vulnerability</th>
      <th>Estimate</th>
      <th>Return on Investment</th>
      </tr>
  </table>

<script>
  (function(){
      var estimate, ROI;

      // Parse INTS for values, for easy access:
      var perimeter = parseInt(RESCU.user().perimeter, 10),
          levels = parseInt(RESCU.user().levels, 10),
          windows = parseInt(RESCU.user().windows, 10),
          doors = parseInt(RESCU.user().doors, 10),
          pitch = parseInt(RESCU.user().pitch, 10),
          footage = parseInt(RESCU.user().footage, 10),
          homevalue = parseInt(RESCU.user().replacementValue, 10),
          demoCost = 750,
          laborCost = 1000;

      _.each(RESCU.questions, function(q){
      var answerID = localStorage.getItem(q.id);
      _.each(q.answers, function(a){

        if (answerID === a.id){
          if (q.id == "foundation-construction-id") {
            estimate = Math.round((a.cost * footage));
          } else if (q.id == "wall-attachments-id") {
            estimate = "N/A";
          } else if (q.id == "wall-materials-id") {
            estimate = Math.round((a.cost * perimeter * levels * 10));
          } else if (q.id == "window-glazing-id") {
            estimate = Math.round((a.cost * windows));
          } else if (q.id == "window-screen-id") {
            estimate = Math.round((a.cost * windows));
          } else if (q.id == "eaves-id") {
            estimate = Math.round((a.cost * perimeter));
          } else if (q.id == "roof-covering-id") {
            estimate = Math.round((a.cost * footage * pitch));
          } else if (q.id == "roof-chimney-id") {
            estimate = Math.round((a.cost));
          } else if (q.id == "roof-complexity-id") {
            estimate = "N/A";
          } else if (q.id == "debris-id") {
            estimate = "N/A";
          } else if (q.id == "roof-vents-id") {
            estimate = Math.round((a.cost * perimeter));
          } else {
            estimate = "N/A"
          }
          // Calculate ROI here:
          if (estimate == "N/A") {
            roi = "N/A"
          } else {
            roi = Math.round((homevalue - estimate)/estimate);
            //(parseInt(q.vulnerability)/100)
            //roi = roi + "%"
          }
          if (q.view != "threshold"){
            $("#suggestions-table").append("<tr><td>" + a.answer + "</td><td>" + a.suggestion + "</td><td>" + q.vulnerability + "</td><td>$" + RESCU.addCommas(estimate) + "</td><td>X" + RESCU.addCommas(roi) + "</td></tr>");
          }
        }
      });
    });
  }());
</script>

<ul>
    <li>Info: This report has been generated using the most up to data information available. All cost information
has been generated using RS Means(1). All scoring and weighting has been validated through a wildfire
expert panel. A report on these experiments may be found at (#fnqovnawF).
</li>
  </ul>

  <ul>
    <li>Disclaimer: This tool is not intended to be used as a primary means of determining whether your home will survive a
natural disaster. This tool is intended to help you determine where hardening techniques may increase
your home’s chance for survival during a natural disaster. It is highly recommended that a professional
opinion be sought prior to implementing any of the hardening techniques recommended by the tool.
</li>
<li>Conclusion</li>
<li>Asssumptions</li>
  </ul>

</div>

<script>
  (function(){
    var threshold, building, rescu;

    threshold = ((RESCU.scores.threshold + 37.95)/(7.08)).toFixed(1);
    building = ((RESCU.scores.total - 51)/439 * 100).toFixed(1);
    rescu = (building - threshold).toFixed(1);

    $("#threshold-score span").html(threshold);
    $("#building-score span").html(building);
    $("#rescu-score span").html(rescu);
  }());

</script>

<script>
  (function(){
    setTimeout(function(){
      $("#questions").scrollTop(1);
    }, 500);
  }());
</script>

<script>
  (function(){
    // LOOPING THROUGH EACH QUESTION
    _.each(RESCU.questions, function(q){
      var answerID = localStorage.getItem(q.id);
      _.each(q.answers, function(a){
        if (answerID === a.id){
          // At this point, you are looking at what the user said for the given question.
          // For instance, q.question will tell you the question text, line 3, 32, etc of questions.json
          // Also, a.answer will tell you the answer text, line 12, 19, 26, etc of questions.json
            $("#questions-table").append("<tr><td>" + q.question + "</td><td>" + a.answer + "</td></tr>");

          // At this point, you can view any piece of data you add to questions.json for the given question.
          // Consider adding another field "suggestion" to each answer that has a suggestion.
          // Using a method similar to line 188, you can append some more information to any piece DOM element.

          // Look at lines 41-46 to see the table, and how I am populating it:
          // <table> is the tag to declare a table
          // <tr> is "table row"
          // <th> is "table header," only the top row should have these (think about it, the HEADERS of each column)
          // <td> is "table cell," (Why it's not <tc> is beyond me), and each cell has a td.
          // Each row (<tr>) has to have the same number of td's or th's.

          // You CAN have a row header and a column header, you would do that by filling your first row with nothing but <th>,
          //    and filling the FIRST cell of every subsequent row with a <th> and every other with a <td>, consider the following:

          /*
            <table>
              <tr>
                <th>Column Header 1</th>
                <th>Column Header 2</th>
                <th>Column Header 3</th>
              </tr>
              <tr>
                <th>Row 1 Header</th>
                <td>Row 1 Data Cell 1</td>
                <td>Row 1 Data Cell 2</td>
              </tr>
              <tr>
                <th>Row 2 Header</th>
                <td>Row 2 Data Cell 1</td>
                <td>Row 2 Data Cell 2</td>
              </tr>
            </table>
          */

          // Now, you will want to add new pieces of data to questions.json, namely the "suggestion" text, and perhaps the "percent" data.
          // After adding this, you will need to figure out a way to create calculations, and display them on the screen.
          // You MIGHT do something like this:

          /*
            (function(){
              _.each(RESCU.questions, function(q){
                var answerID = localStorage.getItem(q.id);
                _.each(q.answers, function(a){
                  if (answerID === a.id){
                    $("#suggestions-table").append("<tr><th>Suggestion</th><td>" + a.suggestion + "</td></tr>");
                  }
                });
              });
            }());
          */

          // When coming up with your cost model, you might consider looping through the questions/answers the same way, and find your percentages.
          // You can also do something like cache the answer points, and for each answer, you can see if the points are higher
          //    then the current highest value. After looping through each of the answers, you will have your 'optimal' answer, which you can then
          //    show the user somewhere. Consider the following:

          /*
            (function(){
              _.each(RESCU.questions, function(q){
                var answerID = localStorage.getItem(q.id),
                    selectedAnswer,
                    optimalAnswer;

                _.each(q.answers, function(a){

                  // This is the answer the user "SELECTED"
                  if (answerID === a.id){
                    selectedAnswer = a;
                  }

                  // Find is the "OPTIMAL" answer
                  // Basically, if the optimalAnswer hasn't been set yet (undefined), or the current answer is worth
                  //    more than the optimal answer currently, you want to reset the optimal answer.
                  if (optimalAnswer === undefined || parseFloat(a.points) > parseFloat(optimalAnswer.points)){
                    optimalAnswer = a;
                  }

                });

                // Right here, after you have looped through all of the answers (but before you go to the next question),
                //    you will have the optimal answer for this question, as well as the answer they selected.
                // From here, you can do something with the suggestion for the selected answer, the percent for the optimal answer,
                //    and so on.
              });
            }());
          */
        }
      });
    });
  }());
</script>

