<h1>Windows</h1>

  <section>
  <h2> What type of window glazing?</h2>
  <input id="single-pane" name="class" value="1" type="radio" /><label for="single-pane">Single pane </label></a><br />
  <input id="multi-pane" name="class" value="5" type="radio" /><label for="multi-pane">Multi pane</label></a><br />
  <input id="tempered" name="class" value="10" type="radio" /><label for="tempered">At least one tempered pane</label></a><br />
  <a href="#">Class Link</a>
</section>

<section>
  
  <h2>Do the windows have non combustible screens?</h2>
  <input id="Screens-exist" value="10" type="checkbox" /><label for="screens-exist">Yes, the windows have non combustible screens .</label>

   <h2>Do the windows have functional, fire rated shutters</h2>
  <input id="shutters-functional" value="10" type="checkbox" /><label for="shutters-functional">Yes, the windows have functional, fire rated shutters.</label>
</section>

<footer class="group">
  <a id="previous-page" href="#" data-file="walls.html">Walls</a>
  <a id="next-page" href="#" data-file="roof.html">Roof</a>
</footer>